.App {
  text-align: center;
  padding-top: 10%;
}
.form{
  background-color:aqua;
  text-align: center;
}
#flag{
  width: 2.5cm;
  height:2cm
}
.tab, th {border: 3px solid red;background-color: honeydew;}
tr, td {border: 1px solid red;}